In [1]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
second_row =df.iloc[1]

In [4]:
second_row

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc: This function is label-based indexing. It is used to access a group of rows and columns by labels or a boolean array. When using loc, you refer to the row and column labels explicitly.

iloc: This function is integer-based indexing. It is used to access a group of rows and columns by integer position. When using iloc, you refer to the numerical index of the rows and columns

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [5]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [6]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

loc reads index as 1,2,3
but iloc reads as 0,1,2

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.748719  0.648480  0.737728  0.540101  0.696972  0.912956
2  0.987953  0.137124  0.549048  0.922032  0.553040  0.275388
3  0.675904  0.626977  0.130585  0.411938  0.175465  0.896634
4  0.978248  0.374707  0.836491  0.026770  0.855086  0.738255
5  0.811181  0.668282  0.349432  0.633652  0.246758  0.574015
6  0.408009  0.514693  0.481389  0.389084  0.874109  0.751634

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [11]:
df1.mean()

column_1    0.768336
column_2    0.495044
column_3    0.514112
column_4    0.487263
column_5    0.566905
column_6    0.691480
dtype: float64

In [12]:
df1.std()[1]

0.20684981557366786

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [13]:
second_row = "faizan"

In [14]:
df1.loc[2, "column_2"] = second_row

In [15]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.748719   0.64848  0.737728  0.540101  0.696972  0.912956
2  0.987953    faizan  0.549048  0.922032  0.553040  0.275388
3  0.675904  0.626977  0.130585  0.411938  0.175465  0.896634
4  0.978248  0.374707  0.836491  0.026770  0.855086  0.738255
5  0.811181  0.668282  0.349432  0.633652  0.246758  0.574015
6  0.408009  0.514693  0.481389  0.389084  0.874109  0.751634

In [16]:
df1.mean()[1]

/tmp/ipykernel_1986/4189027928.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()[1]

0.5141120634148963

we can't get mean cause there is string not a numberical value.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a "window function" refers to a class of functions that perform calculations over a specified "window" or "rolling" range of data in a pandas DataFrame or Series.

In [17]:
windows_functions = ["Rolling Functions","Exponential Moving Functions","Aggregating Functions","Shifting Functions","Expanding Functions"]

In [18]:
windows_functions

['Rolling Functions',
 'Exponential Moving Functions',
 'Aggregating Functions',
 'Shifting Functions',
 'Expanding Functions']

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [22]:
import datetime

current_date = datetime.datetime.now()

In [23]:
current_month = pd.Timestamp(current_date).month

In [24]:
current_year = pd.Timestamp(current_date).year

In [25]:
current_month

8

In [26]:
current_year

2023

In [31]:
print(current_month, "/",current_year )

8 / 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [32]:
import pandas as pd


date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")


date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)


time_difference = date2 - date1


days = time_difference.days
hours = time_difference.seconds 
minutes = (time_difference.seconds) % 60


print("Time Difference:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

Enter the first date (YYYY-MM-DD):  2023-8-4
Enter the second date (YYYY-MM-DD):  2022-8-4

Time Difference:
Days: -365
Hours: 0
Minutes: 0